.header {
    background-image: url(/src/image/background_container.jpg);
    background-size: cover;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 50% 40px;
    border-bottom-left-radius: 50% 40px;
}

.promo {
    display: flex; 
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;

    span {
        @include fontsTitle();
        font-weight: 300;
        color: #FFFFFF;
        margin-bottom: 30px
    }
}

.title {
    @include fontsTitle();
        color: #FFE074;
}

.name {
    @include fontsTitle();
    color: #FFFFFF;
    font-weight: 800;
    font-size: 50px;
    margin: 30px 0;
}

.read__more {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: none;
    border-color: aqua;

}   